00 21 * * 2 export PYTHONPATH=$PYTHONPATH:/usr/src/app/; /usr/local/bin/python3 /usr/src/app/main.py -L INFO -N $(cat /etc/expr-cluster_ext_db_name | sed 's/\n//g') -U $(cat /etc/expr-cluster_ext_db_user | sed 's/\n//g') -P \"$(cat /etc/expr-cluster_ext_db_passwd | sed 's/\n//g')\" -H $(cat /etc/expr-cluster_ext_db_host | sed 's/\n//g') -w $(cat /etc/expr-cluster_ext_ssh_user | sed 's/\n//g') -z $(cat /etc/expr-cluster_ext_ssh_passwd | sed 's/\n//g') -y $(cat /etc/expr-cluster_ext_ssh_host | sed 's/\n//g') -f $(cat /etc/expr-cluster_ext_from_date | sed 's/\n//g') -d $(cat /etc/expr-cluster_ext_working_dir | sed 's/\n//g') >> /var/log/expr-cluster_ext_pipeline.log 2>&1
