SHELL=/bin/bash
BASH_ENV=/container.env

00 18 * * 5 /usr/local/bin/python3 /usr/src/app/main.py -L INFO -N $DB_NAME -U $DB_USER -P $DB_PASSWD -H $DB_HOST -f $FROM_DATE -d $WORKING_DIR >> /var/log/expr-cluster_ext_pipeline.log 2>&1
